body {
    background-color: violet;
}

.indexNav {
    width: 100%;
}
.indexNav ul{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: row;
    list-style: none;
}
.indexNav ul li{
    margin: 5px;
    padding: 40px;
    background-color: black;
    margin-left: 10px;
    color: white;
    border-radius: 5px;
}
.indexNav ul li:hover{
    background-color: violet;
    cursor: pointer;
    border: solid 2px white;
}

/* Form */
.form-body {
    padding: 10px;
    background-color: white;
}
.form-calculo {
    display: flex;
    flex-direction: column;
}