* {
    box-sizing: border-box;
}
body {
    /* background-color: violet; */
    margin: 0;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    padding: 0 5px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #f5bf78;
}
.indexNav ul{
    text-align: right;
    list-style: none; 
    line-height: 80px;
}
.indexNav li {
    display: inline;
    text-decoration: none;
    color: #fff;
}
.btn-nav {
    display: inline;
    margin-right: 5px;
    padding: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

.btn-nav:hover {
    cursor: pointer;
    border: solid 2px white;
    background-color: #ee82ee;
    color: black;
}

/* Form */
.form-body {
    padding: 10px;
    background-color: white;
}
.form-calculo {
    display: flex;
    flex-direction: column;
}