:root {
    --cardColor: #000;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
/* Encabezado general */
.header {
    position: sticky;
    top: 0;
    left: 0;
    height: 80px;
    padding: 0 5px;
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(0, 9, 9, 0.6);
}
.header-nav ul{
    text-align: right;
    list-style: none; 
    line-height: 80px;
}
.header-nav li {
    display: inline;
    text-decoration: none;
    color: #fff;
}
.btn-nav {
    display: inline;
    margin-right: 5px;
    padding: 20px;
    text-decoration: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
}

.btn-nav:hover {
    border-bottom: solid 2px white;
    color: #d8cccc;
    cursor: pointer;
}

/* Formularios*/
.search-container {
    height: 200px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #c75151f2;
    text-align: center;
    color: beige;
}

.search-form {
    padding: 10px;
}
.search-input {
    width: 75%;
    height: 40px;
    padding: 1.5rem;
    margin: auto;
    font-size: 1.5rem;
    border: none;
    border-radius: 8px;
}

.ul {
    display: inline-block;
    width: 200px;
    margin-top: 10px;
    list-style: none;
}
.li{
    height: 30px;
    margin-bottom: 1px;
    text-align: center;
    color: #fff;
    background-color: #4f4f9b;
}
.li:hover{
    color: var(--cardColor);
    background-color: #cacaf5;
}
.li:active {
    height: 35px;
}

.ul{
    border-top:10px solid red ;
    border-left: 50px solid transparent;
    border-bottom:10px solid red ;
}

/* Sección de Videos */
.v-card {
    display: inline-block;
    width: 275px;
    height: 150px;
    margin: 5px;
}
.v-header {
    margin: 0;
    background-color: #cacaf5;
    text-align: center;
}
.v-content {
    width: 100%;
    height: 100%;
    background-color: var(--cardColor);
}
.v-content img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}
.v-content img:active{
    transform: scale(0.95, 0.95);
}
.v-footer{
    background-color: #cacaf5;
}

/* Common */
.container {
    margin: 0 auto 20px;
    border: 1px solid red;
    text-align: center;
}
.info-page {
    display: inline-block;
    width: 300px;
    margin-bottom: 10px;
    border: 1px silver solid;
}